.mainPage {
  background: url(../img/bg.png) no-repeat right top;
}
.mainPage nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 187px;
}
.mainPage nav ul {
  display: flex;
  list-style: none;
  margin: 10px;
}
.mainPage nav ul li {
  margin-right: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
}
.mainPage nav ul li:hover,
.mainPage nav ul li:focus,
.mainPage nav ul li:active {
  text-decoration: underline;
  color: #8593c3;
  cursor: pointer;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  padding-left: 179px;
  padding-top: 27px;
  padding-right: 131px;
  padding-bottom: 75px;
}
.MainBlock {
  display: flex;
  justify-content: space-between;
}
.pic {
  width: 250px;
}
.logo {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62d0df;
  font-weight: bold;
}
.contactUs {
  width: 150px;
  height: 50px;
  background: #62d0df;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.mainText {
  margin-top: 45px;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356f;
  width: 484px;
  height: 167px;
}
.infoText {
  width: 469px;
  height: 161px;
  font-size: 24px;
  line-height: 42px;
  color: #22356f;
}
.who {
  width: 150px;
  height: 50px;
  color: rgba(249, 182, 64, 1);
  border: none;
  font-weight: 600;
  margin-right: 20px;
  background: none;
  transition: 0.2s;
}
.what {
  width: 150px;
  height: 50px;
  color: rgba(249, 182, 64, 1);
  border: none;
  font-weight: 600;
  background: none;
  transition: 0.2s;
}
.who:hover,
.what:hover {
  background-color: rgba(249, 182, 64, 1);
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
/* main end */
/* sport start */
.sport {
  display: flex;
  background: rgba(98, 208, 223, 1);
}
.sportBluePart {
  padding-left: 178px;
  padding-top: 151px;
  padding-right: 181px;
  width: 100%;
}
.sportMainText {
  width: 223px;
  height: 51px;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #ffffff;
}
.sportInfoText {
  width: 555px;
  height: 235px;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
.sportInfoText span {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
}
/* sport end */
/* about us start */

.aboutUsWrapper {
  margin-top: 156px;
  margin-left: 106px;
  margin-right: 424px;
  display: flex;
  justify-content: space-between;
}
.aboutMainText {
  width: 93px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #22356f;
}
.aboutInfoText {
  margin-top: -10px;
  width: 592px;
  height: 210px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  color: #22356f;
  margin-bottom: 76px;
}
.aboutLastText {
  color: rgba(34, 53, 111, 0.5);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
}

/* about us end */
/* color cards start */
.cards {
  display: flex;
  margin-top: 24px;
  width: 100%;
  margin-bottom: 120px;
}
.cardPink {
  display: flex;
  width: 360px;
  height: 360px;
  background-color: rgb(224, 185, 179);
}
.cardGreen {
  display: flex;
  width: 360px;
  height: 360px;
  background-color: #c4e769;
}
.cardBlue {
  display: flex;
  width: 360px;
  height: 360px;
  background-color: #62d0df;
}
.cardDark {
  display: flex;
  width: 360px;
  height: 360px;
  background-color: #0052c1;
}
.colorCardTitle {
  margin-top: 72px;
  margin-left: 52px;
  font-size: 32px;
  font-weight: 600px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
  border-top: 1px solid white;
  width: 255px;
  height: 60px;
  padding-left: 25px;
  padding-top: 23px;
  background: url(../img/Ellipse.png) no-repeat left center;
}
/* color cards end */

/* big card start */
.bigCards {
  display: flex;
  flex-wrap: wrap;
}
.firstBigCard {
  width: 480px;
  height: 480px;
  background: #22356f;
}
.secondBigCard {
  width: 480px;
  height: 480px;
  background: #0052c1;
}
.thirdBigCard {
  width: 480px;
  height: 480px;
  background: url(../img/tirdBigCard.svg);
}
.fourthBigCard {
  width: 480px;
  height: 480px;
  background: #62d0df;
}
.fifthBigCard {
  width: 480px;
  height: 480px;
  background: #dee1ff;
}
.sixthBigCard {
  width: 480px;
  height: 480px;
  background: #8f00ff;
}
.bigCardTitle {
  width: 340px;
  height: 132px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
  padding-left: 32px;
  border-top: 1px solid white;
  margin-top: 96px;
  hyphens: 100px;
  margin-left: 70px;
  background: url(../img/Ellipse.png) no-repeat left center;
}
/* big card end */
/* info cards start */
.infoCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
  margin-bottom: 40px;
}
.infoCard {
  width: 480px;
  height: 240px;
}
.infoMainText {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356f;
  margin-top: 55px;
  margin-left: 105px;
}
.infoMinorText {
  display: flex;
  width: 298px;
  margin-left: 105px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

/* info cards end */
/* you should know start */

.shouldKnow {
  display: flex;
}
.shouldKnowInfo {
  padding-left: 106px;
  padding-top: 103px;
  display: flex;
  flex-direction: column;
}
.shouldKnowHeadText {
  width: 217px;
  height: 20px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #22356f;
  margin-bottom: 225px;
}
.shouldKnowInfoText {
  width: 676px;
  height: 215px;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356f;
  margin-bottom: 152px;
}
.shouldKnowInfoText span {
  color: #62d0df;
}
.shouldKnowFootText {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fab63e;
}
.shouldKnowFootText:hover {
  cursor: pointer;
  color: #fba30a;
  text-decoration: underline;
}

/* you should know end */
/* conact us smile start */
.containerSmile {
  margin: 0 auto;
  width: 100%;
  background: #22356f;
  display: flex;
  justify-content: space-between;
}
.contactUsSmile {
  display: flex;
  flex-direction: column;
  padding-left: 180px;
  padding-right: 76px;
  padding-top: 103px;
}
.contSmileTitle {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 200px;
}
.contSmileMainText {
  width: 704px;
  height: 66px;
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.contSmileInfoText {
  width: 579px;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin-bottom: 75px;
}
.contSmileFootText {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #62d0df;
  font-weight: 500;
}
.contSmileFootText:hover {
  cursor: pointer;
  color: #88e5f1;
  text-decoration: underline;
}

/* contact us end */
/* footer start */
.footer {
  display: flex;
}
.footerInfo {
  display: flex;
}
.someInfo {
  margin-left: 68px;
  margin-top: 98px;
  margin-right: 30px;
}
.health {
  margin-top: 98px;
  margin-right: 30px;
}
.officeHours {
  margin-left: 30px;
  margin-top: 98px;
  margin-right: 30px;
}
.footerMainTitle {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #22356f;
  font-weight: 600;
}
.someInfoText {
  margin-top: 50px;
  width: 200px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}
/* footer end */
.adress {
  margin: 0 auto;
  padding-left: 179px;
  padding-top: 32px;
  padding-bottom: 26px;
  background: #62d0df;
}
.adressText {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #ffffff;
  font-weight: 600px;
}
